@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root {
    --backgroundColour: #FFF;
    --icon-size: 65px;
}
html>* {
    font-family: "Roboto Mono";
}
/* ::selection{
    user-select: none;
} */
body {
    background-color: var(--backgroundColour);
    /* overflow-x: hidden; */
}
.red {
    background-color: red;
}
.blue{
    background-color: blue;
}
.screen{
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}
.word {
    font-size: xx-large;
    vertical-align: middle;
}
.word::before{
    content: "//";
}
.word::after{
    content: "//";
}
.definition{
    white-space: pre;
}
.capitalise {
    text-transform: capitalize;
}
.secrets-btn{
    border-radius: 0px;
}
.secrets-btn:focus{
    outline: none;
    box-shadow: none;
}
.abt-btn {
    border-radius: 0px;
}
.abt-btn:focus{
    outline: none;
    box-shadow: none;
}
.aboutModalTitle {
    vertical-align: middle;
}
.modal-content {
    background-color: white;
    border-radius: 0px;
}
.close {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    transition: 500ms;
}
.close:hover {
    color: rgba(0, 0, 0, 1);
}
.fa-github-square {
    color: black;
    transition: 500ms;
}
.fa-github-square:hover {
    color: var(--brink-pink);
}
.githubIcon {
    font-size: var(--icon-size);
}
.githubPfp {
    border-radius: 50%;
}
.fa-discord {
    color: black;
    transition: 500ms;
}
.fa-discord:hover {
    color: var(--brink-pink);
}
.discordIcon {
    font-size: var(--icon-size);
}